.navbar {
  background-color: #fff; /* White background for a clean look */
  border-bottom: 1px solid #e0e0e0; /* Light border at the bottom */
  color: #333;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo img {
  height: 40px; /* Adjust the height as needed */
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 1rem;
}

.navbar a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
}

.navbar a:hover {
  color: #007BFF; /* Interactive hover effect */
}
